<div style="width: 30%; padding: 4rem"> /* style should not be used here */
    <div class="card card--primary card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi labore sapiente placeat, at autem iusto
            pariatur atque eius odio, laboriosam suscipit excepturi, repellat voluptas. Qui non est vitae cupiditate
            iusto!
        </div>
    </div>
</div>