<div class="media">
    <div class="media__image">
        <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#menu"></use>
            </svg>
        </span>
    </div>
    <div class="media__body">
        <h3 class="media__title"> Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates veritatis quasi placeat cumque neque
            quibusdam, dicta cum culpa reiciendis laudantium, unde nesciunt, incidunt aliquam quia aliquid at
            inventore quas! Eum!</p>
    </div>
</div>