<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quas, vel velit ipsum
        saepe unde repellendus
        officiis odio corrupti. Eveniet necessitatibus reiciendis ut rerum maiores voluptas molestiae dolore
        accusamus?
        Alias!</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__menu">
                    <use xlink:href="images/sprite.svg#menu"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Tunde Omoyajowo</h3>
                <p class="quote__organization">TUNDIFY Company</p>
            </div>
        </div>
    </footer>
</blockquote>